<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    {% block content %}
    <h2>dashboard</h2>
    <p>Are you sure you want to log out?</p>
    
    <form method="post" action="{% url 'logout'%}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endblock %}
</body>
</html>